name: Markdown style checks

on:
  workflow_call:
  push:
    branches:
    - main
    paths:
    - 'docs/**'   # Only run on changes to the docs directory
  pull_request:
    branches:
    - '*'
    paths:
    - 'docs/**'   # Only run on changes to the docs directory

jobs:
  markdown-lint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    # Extra step: ensure there are .md files before trying to lint, otherwise the linter will fail
    - name: Check for Markdown files in docs/
      id: md-check
      working-directory: "docs"
      run: |
        # 1. Find all .md files, but explicitly ignore the .sphinx folder
        MD_FILES=$(find . -type f -name "*.md" -not -path "*/.sphinx/*")
        
        # 2. Check if the result is empty
        if [ -z "$MD_FILES" ]; then
          echo "No Markdown files found. Skipping md linting."
          echo "md_found=false" >> $GITHUB_OUTPUT
        else
          echo "Found the following Markdown files:"
          echo "$MD_FILES"
          echo "md_found=true" >> $GITHUB_OUTPUT
        fi
    - name: Create venv
      if: steps.md-check.outputs.md_found == 'true'
      working-directory: "docs"
      run: make install
    - name: Lint markdown
      if: steps.md-check.outputs.md_found == 'true'
      working-directory: "docs"
      run: make lint-md
